@media(min-width: 1388px) {
    .text_tissus{
        margin-top: 30%;
        margin-left: 8%;
        margin-right: 8%;
        text-align: justify;
    }

    .tableau_tissus{
        margin-left: 8%;
        text-align: center;
        margin-right: 8%;
    }
}