/* Responsive grand écran */

@media(min-width: 1388px) {
    .text_tissus{
        margin-top: 30%;
        margin-left: 14%;
        margin-right: 14%;
        text-align: justify;
    }

    .tableau_tissus{
        margin-left: 8%;
        text-align: center;
        margin-right: 8%;
        min-height: 190px;
    }
}

@media(min-width: 768px) and (max-width: 1388px) {
    .text_tissus{
        margin-top: 40%;
        margin-left: 14%;
        margin-right: 14%;
        text-align: justify;
    }

    .tableau_tissus{
        margin-left: 8%;
        text-align: center;
        margin-right: 8%;
        min-height: 337px

    }
    .imgtissu{
        width: 50%;
    }
}

/* RESPONSIVE 426 to 767 */


@media(min-width: 426px) and (max-width: 767px) {
    .text_tissus{
        margin-top: 65%;
        margin-left: 14%;
        margin-right: 14%;
        text-align: justify;
        min-height: 275px;
    }

    .tableau_tissus{
        margin-left: 8%;
        text-align: center;
        margin-right: 8%;
    }

    .imgtissu{
        width: 100%;
    }
}


@media(max-width: 426px){
    .text_tissus{
        margin-top: 80%;
        margin-left: 14%;
        margin-right: 14%;
        text-align: justify;
        min-height: 275px;
    }

    .tableau_tissus{
        margin-top: -20%;
        margin-left: 8%;
        text-align: center;
        margin-right: 8%;
    }

    .imgtissu{
        width: 100%;
    }
}