#artcgu{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

#tt{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.fot{
   position: relative;
   margin-left: 10%;
   margin-right: 10%;
}

#artML{
    margin-top: 7%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}