
/* Responsive grand écran */

@media(min-width: 1388px) {
#artcgu{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
#tt{
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.fot{
   position: relative;
   margin-left: 10%;
   margin-right: 10%;
}

#artML{
    margin-top: 25%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}
}
