/* Responsive grand écran */

@media(min-width: 1388px) {
.connexion {
  margin-top : 20%;
}

.erreur_connexion{
  color : red;
}

}

/* Responsive grand écran */

@media(min-width: 768px) and (max-width: 1388px) {
  .connexion {
    margin-top : 30%;

  }

  .erreur_connexion{
    color : red;
  }
}

/* Responsive grand écran */

@media(min-width: 426px) and (max-width: 767px) {
  .connexion {
    margin-top : 50%;
  }

  .erreur_connexion{
    color : red;
  }
}

/* Responsive grand écran */

@media(max-width: 426px) {
  .connexion {
    margin-top : 50%;
  }

  .erreur_connexion{
    color : red;
  }
}
