
table#tableau_galerie{

    margin-top: 27%;
    margin-left: 14%;

}

td{
    margin: 0;
    padding-right: 100px;
    padding-top: 50px;
}


@media(min-width: 426px) and (max-width: 767px) {

}

.text_tissus{
    margin-top: 30%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: justify;
}

.tableau_tissus{
    margin-left: 14%;
    text-align: center;
    margin-right: 14%;

}
