img#entete_galerie {
    margin-left: 20%;
    height: 35%;
    width: 60%;
    text-align: center;
    position: absolute;
    margin-top: 0;
    z-index: 1;

}

h1#titre_galerie{
    z-index: 2;
    position: absolute;
    margin-left: 45%;
    margin-top: 5%;
    font-size: 72px;
    color: aquamarine;

}

div#bande_couleur1{

    background-color: aquamarine;
    width: 20%;
}

body{

    background-color: #edfef4;
    z-index: 0;
    margin: 0;

}
