@media(min-width: 1388px) {
.autor{
    margin-top: 30%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}

p#description{

    align: left;

}

}



/* CSS pc portable*/


@media(min-width: 768px) and (max-width: 1388px) {
    .autor {
        margin-top: 30%;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;

    }

    p#description {

        align: left;

    }
}



/* CSS 426 to 767 */


@media(min-width: 426px) and (max-width: 767px) {
.autor{
    margin-top: 65%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    position: relative;
}

p#description{

    align: left;

}
}

<<<<<<< HEAD
.follow {
    margin-left: 10%;
}
.follow ul {
    padding:0;
    list-style-type:none;
}
.follow a {
    color: black;
=======
@media(max-width: 426px) {
    .autor{
        margin-top: 75%;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
    }

    p#description{

        align: left;

    }
>>>>>>> e853ae383fe726b6689e3fd3696d963b4f3593d6
}
