@media(min-width: 1388px) {
.autor{
    margin-top: 25%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}

p#description{

    align: left;

}

    .follow {
        margin-left: 10%;
        margin-top: 5%;
        min-height: 142px;

    }

}



/* CSS pc portable*/


@media(min-width: 768px) and (max-width: 1388px) {
    .autor {
        margin-top: 30%;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;

    }

    p#description {

        align: left;

    }

    .follow {
        margin-left: 10%;
        margin-top: 5%;
        min-height: 142px;
    }
}



/* CSS 426 to 767 */


@media(min-width: 426px) and (max-width: 767px) {
.autor{
    margin-top: 65%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    position: relative;
}

p#description{

    align: left;

}
}

.follow {
    margin-left: 10%;
    margin-top: 5%;
    min-height: 142px;
}


@media(max-width: 426px) {
    .autor{
        margin-top: 75%;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
    }

    p#description{

        align: left;

    }

    .follow{
        margin-left: 10%;
        margin-top: 6%;
        min-height: 142px;
    }
}
