body {
    background-color: #edfef4;
    overflow:hidden;
}

.menu {
    background-attachment: fixed;
    position: absolute;
    top: 0;
    height: 35px;
    width: 100%;
}

.menu ul {
  float: right;
  margin-right: 12%;
  list-style-type: none;
  padding: 0px 0px 0px;
  text-align: center;
    }

  .menu li {
    float:left;
    margin:auto;
    padding:6px 0px px 0px;
    background-color:#ffffff;
    border-style: solid;
    border-width: 2px;
    }

.menu li a {
    display:block;
    width:500px;
    height: 30px;
    color:#000000;
    text-decoration:none;
    padding:0px;
    }

.menu li a:hover {
    color:#424242;
    }

.menu ul li ul {
        display:none;
        }

.menu ul li:hover ul {
        display:block;
        }

.menu li:hover ul li {
        float:none;
        }

.menu li ul {
        position:absolute;
        }

footer{
    position: absolute;
    bottom: 1%;
    margin-left: 45%;
}
